"$schema" = "node_modules/wrangler/config-schema.json"
name = "tanstarter"
compatibility_date = "2025-09-02"
compatibility_flags = ["nodejs_compat"]
main = "./src/server-entry.ts"

[observability]
enabled = true

[vars]
VITE_BASE_URL = "https://tanstarter.flybullet.net"
VITE_APP_NAME = "Tanstarter"
VITE_ALLOW_SIGNUP = "true"
VITE_ALLOW_PASSWORD_AUTH = "true"
VITE_ALLOW_GITHUB_AUTH = "true"
VITE_ALLOW_GOOGLE_AUTH = "true"
VITE_ALLOW_FEISHU_AUTH = "false"
ADMIN_EMAILS = "lixianwei@example.com,lixianwei1994@gmail.com"
BETTER_AUTH_URL = "https://tanstarter.flybullet.net"

# other vars encrypted via `wrangler secret put <KEY_NAME>`
# vars not show in .env.example
# DATABASE_URL
# BETTER_AUTH_SECRET
# GITHUB_CLIENT_ID
# GITHUB_CLIENT_SECRET
# GOOGLE_CLIENT_ID
# GOOGLE_CLIENT_SECRET
# FEISHU_CLIENT_ID
# FEISHU_CLIENT_SECRET

# [[r2_buckets]]
# binding = 'R2'
# bucket_name = 'app-cloud-storage'

[[d1_databases]]
binding = "DB"
database_name = "tanstarter-db"
database_id = "810cbd35-4afa-4ac2-a28d-72c8b448b1a8"
migrations_dir = "drizzle"
